<% include header %>

<section class="instagram">
<h1><a href="/" class="titel">HVRMNS</a></h1>
  <% afbeeldingen.forEach(function(afbeelding){ %>
      <div class="container">
        <a href="https://www.instagram.com/p/<%- afbeelding.id %>"><img src="<%- afbeelding.media %>" alt="Niet beschikbaar"></a>
        <p><%- afbeelding.text %></p>
      </div>
  <% }); %>
</section>

<% include footer %>
